table {
    border-collapse:collapse;
}

th {
    background-color:#ECEEEF;
    border:solid 1px #ECEEEF;
    text-align:left;
    padding:16px 10px;
}

td {
    border:solid 1px #ECEEEF;
    padding:16px 10px;
}

ul {
    margin:30px 0;
}

li:first-child {
    padding-bottom:5px;
}

li:last-child {
    padding-bottom:0;
}

label {
    display:block;
}

.btn {
    background-color:#007BFF;
    border:none;
    color:#FFFFFF;
}

.form-control {
    padding:10px 13px;
    margin-top:12px;
    border: 1px solid #DEE2E6;
}