.header {
    background-color: #343A3E;
    color: #FFFFFF;

}

.main {
    padding-top: 30px;
    padding-bottom: 172px;
}

.main p {
    text-align: right;
}

.footer p {
    padding: 16px 0;
    text-align: center;
}

.container {
    width: auto;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 18px 0;
    font-size: 28px;
}

p {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: left;
    background-color: #ECEEEF;
    border: solid 1px #ECEEEF;
    padding: 16px 10px;
}

td{
    border: solid 1px #DEE2E6;
}

ul{
    margin: 16px 10px;
}

li:first-child{
    padding-bottom: 5px;
}

input{
    display: block;
}

.btn{
    color: white;
    background-color: #007BFF;
    border: none;
    margin-top: 36px;
}

.form-control{
    border: solid 1px #DEE2E6;
    padding: 10px 13px;
    margin-top: 12px;
    width: 290px;
}

.register-form{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .container {
        width: auto;
    }

    .btn {
        width: 100%;
    }

    .main {
        padding: 30px 10px;
    }

    .register-form {
        flex-direction: column;
    }

    .form-control {
        width: 100%;
    }

    table {
        display: none;
    }
}