* {
    margin: 0;
}

header {
    background-color: red;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.container {
    background-color: gray;
    display: flex;
    padding-top: 24px;
}


nav {
    background-color: green;
    width: 280px;
}

.img_area {
    position: relative;
}

.img_area p {
    position: absolute;
    top: 0;
    background-color: blue;
    color: white;

    top: 70px;
    left: 260px;
}

main {
    background-color: blue;
    width: 100%;
}

aside {
    background-color: yellow;
    width: 280px;
}

footer {
    background-color:  purple;
}
